:root {
	--primary-color: #58568f; /* alternatives: #58568f; #a124ae; */
	--highlight-color: #f0f069;
	--dark-color: #353641;
}

html, body {
	font-family: 'Roboto', 'Helvetica', sans-serif !important;
	margin: 0;
	padding: 0;
	padding-top: 70px;
}

a, a:hover{
	color: var(--primary-color);
}


h4{
	font-size: 14px !important;
}

h2{
	margin-bottom:40px;
}

.link{
	color: #505050;
}
.link:hover{
	color: black;
	cursor: pointer;
}

.btn-mp{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	border-radius: 2px;
	border:none;
	padding:10px 12px;
	background-color: var(--highlight-color);
	color:black;
	font-weight: 400;
}

.btn-mp.light{
	box-shadow: none;
	background-color: transparent;
}
.btn-mp.light:hover{
	background-color: #f9f9f9;
}

.btn-mp:hover, .btn-mp:active, .btn-mp:focus, .btn-mp:target{
	border:none;
	filter: brightness(0.95);
	background-color: var(--highlight-color);
	color: black;
}

.panel-group .panel{
	border-radius: 2px;
	border: none;
}
.panel-default > .panel-heading.panel-card{
	/*	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
	/*background-color: #303f9f;*/
	background-color: var(--dark-color);
	color: white;
	cursor: pointer;
}

.panel-default > .panel-heading.panel-card:hover{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	
}

.panel-default > .panel-heading.panel-card.category-focused{
	/* background-color: #69f0ae; */
	color:black;
	opacity: 1;
	background-color: var(--highlight-color);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	
}

.low-color{
	/*opacity: 0.1;*/
	background-color: #7E808E;
	
}
.panel-default > .panel-card a{
	color:white;
}
.modal-mp .modal-content{
	border-radius: 2px;
}
.navbar.navbar-mp{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	border: none;
	background-color: var(--primary-color);
	height: 80px;
}

.navbar.navbar-mp .container{
	height: 80px;
	padding-top: 15px;

}

.panel-footer{
	margin-right: 15px !important;
	margin-left: 10px;
}

.entry{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	padding: 5px;
	margin: 5px;
	background-color: white;
	margin: 5px 5px 5px 5px !important;

}

.entry-row{
	line-height: 40px;
	margin-top: 20px;
}

.placeholder-img{
	border-radius: 50%;
	margin-right: 10px;
	width: 45px;
	height: 45px;
	background-color: white;
	border: 0.5px solid #aeaeae;
}

.cat-title{
	font-size:1.2em;
}

.cat-info{
	font-weight: 300;
	margin-top: 5px;
}

#search{
	outline: none;
	border: none;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	background-color: var(--primary-color);
	line-height: 42px;
	color:white;
	height:45px;
	width:18%;
	transition: all 0.5s;
	opacity: 0.5;
	font-size: 20px;
}
#search:focus{
	background-color: var(--primary-color);
	opacity: 1;
	width:50%;
	border-radius: 0;
	border-bottom: 1px solid rgba(255,255,255, 0.9);
}
#search:focus + #search-icon{
	right: 51%;
	opacity: 1;
}

#search::placeholder{
	color:white;
	font-size: 20px;
}
#search-icon{
	transition: all 0.5s;
	color:white;
	top:10px;
	right:83%;
	opacity: 0.5;
}

.form-group.search i{
	color: white;
	font-size: 30px;
}
h2.row-header{
	margin-bottom: 10px;
}

.entry-icons{
	color: #8A8A8A;
}
.entry-icons:hover{
	cursor: pointer;
	color: black;
}
#overview{
	width: 80%;
	margin: 0 auto;
}

.showPW{
	background-color: rgba(0,0,0,0.1);
	color: black;
	border-radius: 50px 50px 50px 50px;
	padding: 4px 10px;
	position: relative;
	left:30px;
}

.showPW:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.3);
}


.material-icons.hastext{
	top: 7px;
	position: relative;
}
.categoryWrapper{
	padding: 5px;
}

#entryContainer, #uniqueEntryContainer{
	padding: 15px;
}

.category-element{

}

.material-icons.category_icons{
	padding-top: 6px;
	position: absolute;
	font-size: 28px;
}
.categoryContent{
	padding:5px;
	background-color: grey;
}

.text-middle{
	vertical-align: middle;
}

.cat-subtitle{
	margin-top: 5px;
	font-size: 0.8em;
}

.panel-group{
	background-color: #f5f5f5;
}

.modal-body{
	padding: 20px 50px;
}

/* change bootstrap focus glow */
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
	/*border-color: rgba(161, 36, 174, 0.2);*/
	border-color: black;
	box-shadow: none;
	/*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(161, 36, 174, 0.1);*/
	outline: 0 none;
}

.form-control{
	display: block;
	width: 100%;
	height: 40px;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: black;
	background-color: #fff;
	background-image: none;
	border: 1px solid #757575;
	border-radius: 2px;
}