html, body {
	font-family: 'Roboto', 'Helvetica', sans-serif !important;
	margin: 0;
	padding: 0;
	padding-top: 70px;
}

h4{
	font-size: 14px !important;
}


.panel-group .panel{
	border-radius: 2px;
	border: none;
}
.panel-default > .panel-heading.panel-card{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	background-color: #303f9f;
	color: white;

}
.panel-default > .panel-card a{
	color:white;
}
.modal-mp .modal-content{
	border-radius: 2px;
}
.navbar.navbar-mp{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	border: none;
	background-color: #303f9f;
	height: 80px;
}

.navbar.navbar-mp .container{
	height: 80px;
	padding-top: 15px;

}

.panel-footer{
	margin-right: 15px !important;
    margin-left: 10px;
}

.entry{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	padding: 5px;
	margin: 5px;
	background-color: white;
	margin: 5px 5px 5px 5px !important;

}

.cat-title{
	font-size:1.2em;
}

.cat-info{
	font-weight: 300;
}


.entry-icons{
	color: #8A8A8A;
}
.entry-icons:hover{
	cursor: pointer;
	color: black;
}
#overview{
	width: 80%;
	margin: 0 auto;
}
.categoryWrapper{
	padding: 5px;

}
.categoryContent{
	padding:5px;
	background-color: grey;
}

.text-middle{
	vertical-align: middle;
}

.cat-subtitle{
	margin-top: 5px;
	font-size: 0.8em;
}

.panel-group{
	background-color: #f5f5f5;
}

.modal-body{
	padding: 0 20px 0 20px;
}