/* injected style sheet */

.hintbox{
	border: 3px solid black;
	position: absolute;
	z-index: 9999;
	background-color: black;
	color: white;
	padding: 5px;
	margin-top:10px;
	max-width:150px;
	overflow: hidden;
}

.highlight_username{
	color: blue;
	border: 3px dotted blue;
}

