/* injected style sheet */
:root {
	--primary-color: #58568f; /* alternatives: #58568f; #a124ae; */
	--highlight-color: #f0f069;
	--dark-color: #353641;
}

.mpinput{
	background-size: 13px;
	background-repeat: no-repeat;
	background-position: 98%;
	border: 3px dotted #303F9F;
	color: black;
	cursor: pointer;
}
/*
.hintbox{
	border: none;
	position: absolute;
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
	z-index: 9999;
	background-color: white;
	color: black;
	margin-top:0px;
	width:200px;
	min-height: 50px;
	max-width:200px;
	overflow: hidden;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
*/
.hintbox{
	border: none;
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
	z-index: 9999;
	background-color: white;
	color: black;
	margin-top: 10px;
	width: 340px;
	min-height: 50px;
	max-width: 218px;
	overflow: hidden;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	position: relative;
	float: right;
	margin-bottom: 11px;
}

.hintbox_head.focused{
	
}

.hintbox_head:hover{
	cursor: pointer;
}

.hintbox_head{
	background-color: #303f9f;
	padding: 10px 5px;
	color: white;
	font-size: 1.3em;
	height:100%;
	width:100%;	
	line-height: 25px
}

.grid{
	display: inline;
	margin-left:5px;
}

.grid.left{
	float: left;
	width:10%; 
}
.grid.middle{
	width:60%; 
	margin-left:10px;
}
.grid.right{
	width:10%; 
	float:right;
	margin-right: 20px
}
.hintbox_content{
	padding: 5px 10px;
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.highlight_username{
	color: blue;
	border: 3px dotted blue;
}

.showPW{
	background-color: rgba(0,0,0,0.1);
	color: black;
	border-radius: 50px 50px 50px 50px;
	padding: 4px 10px;
	position: relative;
	left:30px;
}

.showPW:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.3);
}


.material-icons.hastext{
	top: 7px;
	position: relative;
}
hr{
	margin: 12px 0;
}


.mp-hidden {
	height:0px !important;
	-webkit-transition:height, 0.2s cubic-bezier(.25,.8,.25,1);
	-moz-transition: height,  0.2s cubic-bezier(.25,.8,.25,1);
	-ms-transition: height,  0.2s cubic-bezier(.25,.8,.25,1);
	-o-transition: height,  0.2s cubic-bezier(.25,.8,.25,1);
	transition: height,  0.2s cubic-bezier(.25,.8,.25,1);
}
.mp-hidden.open {
	height:132px !important;
	-webkit-transition:height,  0.2s cubic-bezier(.25,.8,.25,1);
	-moz-transition: height,  0.2s cubic-bezier(.25,.8,.25,1);
	-ms-transition: height,  0.2s cubic-bezier(.25,.8,.25,1);
	-o-transition: height,  0.2s cubic-bezier(.25,.8,.25,1);
	transition: height,  0.2s cubic-bezier(.25,.8,.25,1);
}

#ic_arrow{
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}
#ic_arrow.upsideDown{
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}