:root {
	--primary-color: #58568f; /* alternatives: #58568f; #a124ae; */
	--highlight-color: #f0f069;
	--dark-color: #353641;
}
/* login.css */

html, body{
	background-color: var(--primary-color);
}

.hidden{
	display: none;
	transition: all 1s;
}

body.login{
	padding-top: 0;
}
.blue{
	background-color: var(--primary-color);
	color: white;
}

form.mpw{
	width:50%;
	margin: 0 auto;
	margin-top:20px;
}
.form-group.mpw input{
	height: 50px;
	font-size: 1.2em;
}

.progress.strength{
	margin-top: 10px;
	background-color: #c4c4f14d;
}

.password-verdict::before{
	content: 'Password strength: ';
}