:root {
	--primary-color: #58568f; /* alternatives: #58568f; #a124ae; */
	--highlight-color: #f0f069;
	--dark-color: #353641;
}
/* login.css */

html, body{
	background-color: var(--primary-color);
	height:100%;
	padding: 0 !important;
	margin: 0 !important;
}

p{
	font-size: 1.2em;
}
a, a:hover{
	color:white;
}

.disabled{
	opacity: 0.3;
}

#next{
	position: absolute;
	right: 30px;
	top: 200px;
}

#next i{
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
	opacity: 0.5;
	font-size: 6em;
	cursor: pointer;
}
#next i:hover{
	opacity: 1;
}
.label.label-mp{
	font-size:110%;
	font-weight:400;
	color: black;
	background-color: var(--highlight-color);
}
.radio.radio-mp{
	margin-bottom: 25px;
}

.radio-content{
	padding-left: 15px;
}

.example{
	margin-top:15px;
}

.radio-content .name{
	font-size: 1.5em;
	line-height: 1.5em;
	margin-top: -5px;
	
}

.login-container.onboarding_3{

	width:600px;
	overflow: hidden;
}

strong{
	color: var(--highlight-color);
}

.login-container{
	width: 60%;
	margin: 0 auto;
	text-align: left;
	padding-top:30px;
}
.slide.last{
	padding-top: 160px;
}
.slide{
	position: relative;
	width:600px;
	float: left;
	padding: 0 110px 0 75px;
	height:510px;
}
.slide-wrapper{
	width:9999px;
}

.hidden{
	display: none;
	transition: all 1s;
}

body.login{
	padding-top: 0;
}
.bg{
	background-color: var(--primary-color);
	color: white;
}

form.mpw{
	width:100%;
	margin: 0 auto;
	margin-top:20px;
}
.form-group.mpw input{
	height: 50px;
	font-size: 1.2em;
}

.progress.strength{
	margin-top: 10px;
	background-color: #c4c4f14d;
}

.password-verdict::before{
	content: 'Password strength: ';
}