:root {
	--primary-color: #58568f; /* alternatives: #58568f; #a124ae; */
	--highlight-color: #f0f069;
	--dark-color: #353641;
}

html {overflow: -moz-scrollbars-none;}

html, body {
	padding:0;
	margin:0;
	min-width:350px;
	max-width: 350px;
	min-height: 140px;
	font-family: 'Roboto', 'Helvetica', sans-serif !important;
	overflow: hidden;
}

a:hover{
	cursor: pointer;
	text-decoration: none;
}

.link{
	cursor: pointer;
	padding:5px;
}

.mid{
	height:0px;
	background-color: white;
}
.mid .forms{
	display:none;
	margin-top:50px;
	padding:0 15px;
}
.btn-wrapper{
	padding-top:20px;
}

.button-floating, .button-floating-shadow{
	width: 46px !important;
	height: 46px !important;
	font-size:25px !important;
	line-height: 46px !important;
}

#fab_wrapper{
	transition: all 0.4s cubic-bezier(.25,.8,.25,1);
	position: absolute;
	top: 50px;
	right: 4% !important;
}

.head{
	background-color: var(--primary-color);
	padding: 15px 15px;
	color: white;
	height: 100px;
}
.grid{
	display: inline;
	margin-left:5px;
}

.grid.left{
	float: left;
	width:10%; 
}
.grid.middle{
	width:80%; 
	margin-left:10px;
	display:inline-block;
}
.grid.right{
	width:10%; 
	float:right;
	margin-right: 20px
}
.placeholder-img{
	margin-top: 5px;
	border-radius: 50%;
	margin-right: 10px;
	width: 30px;
	height: 30px;
	background-color: white;
	border: 0.5px solid #aeaeae;
}



.footer{
	padding: 10px 15px;
}
.content{
	/*padding: 10px 15px;*/
}

.btn-mp{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	border-radius: 2px;
	border:none;
	padding:10px 12px;
	background-color: var(--highlight-color);
	color:black;
	font-weight: 400;
}

.btn-mp.light{
	box-shadow: none;
	background-color: transparent;
}
.btn-mp.light:hover{
	background-color: #f9f9f9;
}

.btn-mp:hover, .btn-mp:active, .btn-mp:focus, .btn-mp:target{
	border:none;
	filter: brightness(0.95);
	background-color: var(--highlight-color);
	color: black;
}

.mp-hidden {
	height:0px !important;
	-webkit-transition:height, 0.4s cubic-bezier(.25,.8,.25,1);
	-moz-transition: height,  0.4s cubic-bezier(.25,.8,.25,1);
	-ms-transition: height,  0.4s cubic-bezier(.25,.8,.25,1);
	-o-transition: height,  0.4s cubic-bezier(.25,.8,.25,1);
	transition: height,  0.4s cubic-bezier(.25,.8,.25,1);
}
.mp-hidden.open {
	height:300px !important;
	-webkit-transition:height,  0.4s cubic-bezier(.25,.8,.25,1);
	-moz-transition: height,  0.4s cubic-bezier(.25,.8,.25,1);
	-ms-transition: height,  0.4s cubic-bezier(.25,.8,.25,1);
	-o-transition: height,  0.4s cubic-bezier(.25,.8,.25,1);
	transition: height,  0.4s cubic-bezier(.25,.8,.25,1);
}

.slide{
	top: 320px !important;
	-webkit-transition:top,  0.4s cubic-bezier(.25,.8,.25,1);
	-moz-transition: top,  0.4s cubic-bezier(.25,.8,.25,1);
	-ms-transition: top,  0.4s cubic-bezier(.25,.8,.25,1);
	-o-transition: top,  0.4s cubic-bezier(.25,.8,.25,1);
	transition: top,  0.4s cubic-bezier(.25,.8,.25,1);

}

  .button-floating.fab_checked::before {
    content: "check";
    font-family: 'material-icons';

}